@font-face {
  font-family:OpenDyslexic;
  src:url('chrome-extension://__MSG_@@extension_id__/scripts/OpenDyslexic-Regular.otf');
  font-style:normal;
  font-weight:normal;
}
/* body */
body{
  background-color:#D8D8D8;
  font-size:18px;
  border:8px solid #585858;
  -webkit-user-select:none;
  user-select:none;
  height:auto;
  width:520px;
  margin:0;
}
#header{
  text-align:center;
  background-color:#BDBDBD;
  color:#5F4C0B;
  font-size:20px;
  padding:1px;
  border-bottom:8px solid #585858;
  line-height:0.3;
}
#header p{font-size:18px;}
h1{
  line-height:0.2;
  color:#873A00;
  font-size:30px;
}
#main{padding:10px;}
.resetAll{
  position:relative;
  float:right;
}
#subheading{
  font-size:22px;
  font-weight:bold;
  padding-left:10px;
}
table{
   margin:0 auto;
   width:460px;
}
.themes span{
  font-weight:bold;
  cursor:pointer;
  padding-left:5px;
  padding-right:5px;
  border-radius:30px;
  border:1px solid #BDBDBD;
}
/* toggle switches */
.toggle,.jscolor{
  margin-left:84px;
  float:left;
  position:relative;
  display:inline-block;
  width:60px;
  height:40px;
}
.toggle input{display:none;}
.switch{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:30px;
  -webkit-transition:.4s;
  transition:.4s;
}
.switch.auto{background-color:#AE0204;}
.switch.manual{background-color:#077801;}
.on{display:none;}
.on,.off{
  color:#FFFFFF;
  position:absolute;
  transform:translate(-50%,-50%);
  top:50%;
  left:50%;
  font-family:Verdana, sans-serif;
}
input:checked+.switch:before{-webkit-transform:translateX(55px);}
input:checked+.switch .on{display:block;}
input:checked+.switch .off{display:none;}
input:checked+.switch.auto{background-color:#077801;}
input:checked+.switch.manual{background-color:#AE0204;}
/* colour picker */
.jscolor{
  display:inline-block;
  width:60px;
  height:40px;
  cursor:pointer;
  border-radius:30px;
  font-family:Verdana, sans-serif;
  text-align:center;
  border:1px solid #BDBDBD;
  -webkit-user-select:none;
  font-size:0px;
}
/* font options */
.fontStyle{
  width:180px;
  font-size:15px;
  border-radius:30px;
  height:38px;
  display:inline-block;
  overflow:hidden;
  background:#FFFFFF;
  text-align-last:center;
  outline:none;
  border:1px solid #BDBDBD;
}
option{
  font-size:20px;
  background-color:#FFFFFF;
}
.fontSize{
  width:120px;
  font-size:20px;
}
.fontStyle,.decreaseFontSize,.increaseFontSize{cursor:pointer;}
/* reset */
.resetAll:after,.resetBGColour:after,.resetFontColour:after,.resetTheme:after,
.resetFontFamily:after,.resetFontSize:after{
  content:'';
  width:0px;
  height:3px;
  display:block;
  background:#000000;
  transition:0.3s;
}
.resetAll:hover:after,.resetBGColour:hover:after,.resetFontColour:hover:after,
.resetTheme:hover:after,.resetFontFamily:hover:after,
.resetFontSize:hover:after{
  width: 100%;
}
.resetAll,.resetBGColour,.resetFontColour,.resetTheme,.resetFontFamily,
.resetFontSize{
  float:right;
  text-decoration:none;
  cursor:pointer;
  font-size:20px;
  right:0px;
}
