/* body */
body{
  margin:0 auto;
  background-color:#D8D8D8;
  text-align:center;
  font-size:20px;
  border:10px solid #585858;
  -webkit-user-select:none;
  user-select:none;
}
h1{
  color:#873A00;
  font-size:30px;
}
#main{
  height:auto;
  width:420px;
  padding-bottom:10px;
}
#header{
  background-color:#BDBDBD;
  color:#5F4C0B;
  font-size:20px;
  padding:1px;
  margin-bottom:20px;
}
#header p{margin-top:-20px;}
table{
   margin:0 auto;
   width:auto;
   padding-bottom:15px;
}
td{
  padding-left:5px;
  padding-right:5px;
}
/* toggle switches */
.toggle,.jscolor{
  margin-left:43px;
  float:left;
  position:relative;
  display:inline-block;
  width:60px;
  height:40px;
}
.toggle input{display:none;}
.switch{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius:30px;
  -webkit-transition:.4s;
  transition:.4s;
}
.switch.auto{background-color:#AE0204;}
.switch.manual{background-color:#077801;}
.on{display:none;}
.on,.off{
  color:#FFFFFF;
  position:absolute;
  transform:translate(-50%,-50%);
  top:50%;
  left:50%;
  font-family:Verdana, sans-serif;
}
input:checked+.switch:before{-webkit-transform:translateX(55px);}
input:checked+.switch .on{display:block;}
input:checked+.switch .off{display:none;}
input:checked+.switch.auto{background-color:#077801;}
input:checked+.switch.manual{background-color:#AE0204;}
/* colour picker */
.jscolor{
  display:inline-block;
  width:60px;
  height:40px;
  cursor:pointer;
  border-radius:30px;
  font-family:Verdana, sans-serif;
  text-align:center;
  border:1px solid #BDBDBD;
  -webkit-user-select:none;
  font-size:0px;
}
/* reset bg */
.resetBGColour,.resetFontFamily,.resetFontSize{
  cursor:pointer;
  font-size:20px;
}
.resetBGColour,.resetFontSize{float:right;}
.fontStyle,.decreaseFontSize,.increaseFontSize{
  cursor:pointer;
}
#fontStyle{margin-top:5px;}
.fontStyle{
  font-size:15px;
  text-align:center;
  border-radius:30px;
  height:38px;
  display:inline-block;
  overflow:hidden;
  background:#FFFFFF;
  text-align-last:center;
  outline:none;
  border:1px solid #BDBDBD;
}
option{
    font-size:15px;
    background-color:#CCCCCC;
}
